// Define variables for your color scheme

// For example:
// $red: #FD1015;

$font-white: white;
$body-font: #f4f8e3;
$orange: #133a3f;
$green: #313b19;
$light-green: #a1b099;
$light-gray: #fdfdfd;
$baby-blue: #cacece;
