// Define variables for your color scheme

// For example:
// $red: #FD1015;

$font-white: white;
$body-font: #f4f8e3;
$orange: #0f2d5a;
$green: #313b19;
$light-green: #a1b099;
$light-gray: #3b968a;
$baby-blue: #3b968a;
