// Define variables for your color scheme

// For example:
// $red: #FD1015;
$font-white: #f2f3f5;
$body-font: #f4f8e3;
$orange: #ff532b;
$green: #313b19;
$light-green: #a1b099;
$light-gray: #6d7757;
