<div class="card">
  <h1>Topic</h1>

  <p>
    <strong>Title:</strong>
    <%= @topic.title %>
  </p>

  <% @topic.posts.each do |post| %>
    <%= link_to post.content, category_topic_post_path(@topic.category, @topic) %>
  <% end %>

  <br>
  <%= link_to 'CREATE POST',  new_category_topic_post_path(@topic.category, @topic), class: 'btn btn-success' %> |
  <%= link_to 'BACK', root_path, class: 'btn btn-success'%>
</div>
