<div class="card">
  <h1>Topic</h1>

  <p>
    <strong>Title:</strong>
    <%= @topic.title %>
  </p>

  <% @posts.each do |post| %>
    <%= link_to post.content, post_path(post) %>
  <% end %>

  <br>
  <%= link_to 'CREATE POST',  new_topic_post_path(@topic), class: 'btn btn-success' %> |
  <%= link_to 'BACK', root_path, class: 'btn btn-success'%>
</div>
