<div class="header-container">
    <h1>I-KONEKT</h1>
  </div>

  <div class="cards-container">
    <div class="card">
      <ul>
        <% @categories.each do |category| %>
        <div class="card-fg">
          <li><%= link_to category.title, category_path(category) %></li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
