.card {
  background-color: rgb(14, 49, 38);
  color: azure;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(22, 175, 16, 0.2);
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
}
.card h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(176, 212, 200);
  }
.card ul {
  list-style-type: none;
  padding: 0;
  }
  .card li {
  margin: 8px 0;
  color: rgb(176, 212, 200);
  }

  .cards-container {
    display: flex;
    justify-content: space-between ;
    margin: 0;
    width: 100%;
  }


.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
