.card-category {
  background-image: url('https://res.cloudinary.com/dbsjj5ynm/image/upload/v1725976778/Untitled_design_xuuu6c.png');
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
