.card {
  background-color: #133a3f;
  color: azure;
  background-position: center;
  width: 100%;
  // display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 31px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: rgba(22, 167, 225, 0.99) 0px 0px 15px;
  padding: 20px;
  margin: 30px 0;
  box-sizing: border-box;
  // transition: transform 0.3s, box-shadow 0.3s;
}

.card-fg:hover {
  transform: scale(1.05);
  box-shadow: rgba(22, 199, 225, 0.99) 0px 0px 15px;
}

.header-container h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(161, 218, 199);
  }

.card ul {
  list-style-type: none;
  padding: 0;
  }

.card-fg li {
  margin: 8px 0;
  color: rgb(176, 212, 200);
  font-weight: bolder;
}

  .cards-container {
    display: flex;
    justify-content: space-between ;
    margin: 0;
    width: 100%;
  }


.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.card-fg {
  background-color: #133a3f;
  // color: azure;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: rgba(22, 167, 225, 0.99) 0px 0px 15px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
  font-size: 40px;
  color: rgb(161, 218, 199);
  text-align: left;
}

.category-div {
  padding: 40px;
}

.post-div {
  padding: 40px;
}

.card-fg p {
  font-size: 20px;
  color: rgb(176, 212, 200);
  font-weight: bolder;
}

.icon-space {
  margin-right: 10px;
  color: rgb(46, 223, 140);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; 
}
