.navbar-lewagon {
  justify-content: space-evenly;
  background-color: rgb(7, 13, 14);
  width: 100%;
  padding: 10px 0;
  font-family: sans-serif;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon h1 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #a1dac7;
  margin-left: 1rem;
}

.dropdown-menu {
  position: absolute;
  left: -120px !important;
  /* Adjust the value as needed */
}

.dropdown-item:hover {
  // background-color: aquamarine;
}

.dropdown-item {
  // background-color: rgb(182, 250, 227);
}
