.navbar-lewagon {
  justify-content: space-evenly;
  background-color: rgb(7, 13, 14);
  width: 100%;
  padding: 10px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon h1{
margin-top: 10px;
font-size: 50px;
font-weight: bolder;
color: rgb(161, 218, 199);
}
