.navbar-lewagon {
  justify-content: space-between;
  background:url('https://res.cloudinary.com/dbsjj5ynm/image/upload/v1725976778/Untitled_design_xuuu6c.png')no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 10px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
