// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "comments/show";

.app-container {
  margin: 0 auto;
  padding: 2rem;
  text-decoration: center;
}

.width-container {
  width: 80%;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  color: black !important;
  background-color: #d1d8df !important;

  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // margin: 0;
  // padding: 0;
  // overflow-y: auto;
  // a {
  // }
  a {
    color: rgb(67, 212, 133);
    text-decoration: none;
    font-family: $body-font !important;
    font-size: 1.2rem;
    // font-size: 20px;
  }
}

html {
  overflow-y: auto;
}



.scrollable-container {
  // height: 62vh;
  // width: 33%;
  overflow-y: auto;
  // scrollbar-width: thin;
  padding: 40px;

}

.scrollable-content {
  // padding: 18px;
  // font-size: 22px;
  overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgb(96, 223, 138);
  border-radius: 4px;
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  width: 80%;
  margin: 0 auto;
}

.btn-custom {
  background-color: #007bff;
  /* Primary color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-custom-danger {
  background-color: #dc3545;
  /* Danger color */
  color: white;
}

// .top-of-posts {
//   background-color: #f8f9fa; /* Light grey */
//   border: 1px solid #ced4da; /* Light border */
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
// }
