
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  min-height:100vh;
  color: $font-white !important;
  background-color: #87CEEB !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  overflow-y: auto;
}

a {
  color: rgb(130, 209, 213)!important;
  text-decoration: none;
}

.scrollable-container {
  height: 50vh;
  // width: 33%;
  overflow-y: scroll;
  // scrollbar-width: thin;
}

.scrollable-content {
  padding: 18px;
  font-size: 22px;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 4px;
}

.home-content {
  display : grid;
  grid-template-columns: 1fr 1fr;
}

