
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  min-height:100vh;
  color: black !important;
  background-color: rgb(96, 223, 138) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  overflow-y: auto;
}

a {
  color: rgb(67, 212, 133);
  text-decoration: none;
  font-family:  "Nunito", "Helvetica", "sans-serif";
  // font-size: 20px;
}

.scrollable-container {
  height: 160vh;
  // width: 33%;
  overflow-y: auto;
  // scrollbar-width: thin;
}

.scrollable-content {
  padding: 18px;
  font-size: 22px;
  overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgb(96, 223, 138);
  border-radius: 4px;
}

.home-content {
  display : grid;
  grid-template-columns: 1fr 1fr;
}
