<div class="card">
<h1><%= @category.title %></h1>

<ul>
  <% @topics.each do |topic| %>
  <div class="card-fg">
    <li><%= link_to topic.title, topic_path(topic) %></li>
    </div>
  <% end %>
</ul>

<%= link_to 'CATEGORY', categories_path, class: 'btn', style: 'background-color: #86D293; color: azure;' %>

<%= link_to 'NEW TOPIC', new_category_topic_path(@category), class: 'btn', style: 'background-color: #86D293; color: azure;' %>
</div>
