<div class="card">
<h1><%= @category.title %></h1>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, category_topic_path(topic) %></li>
  <% end %>
</ul>

<%= link_to 'CATEGORY', categories_path, class: 'btn btn-primary' %>

<%= link_to 'NEW TOPIC', new_category_topic_path(@category), class: 'btn btn-primary' %>
</div>
