<h1><%= @category.title %></h1>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic_path(topic) %></li>
  <% end %>
</ul>

<%= link_to 'New Topic', new_category_topic_path(@category) %>
